body {
    margin:0;
    background-color:#e7eff6;
}

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header-wrapper {
    background-color:#2a4d69;
    color: #f0f5f9;
    height:90px;
}

.header-wrapper header {
    margin:0 auto;
    width:65%;
}



.menu, .logo {
    margin:0 !important;
}

.menu ul {
    list-style-type:none;
    margin:0;
}

.menu  ul li {
    float:left;
    padding:36px 10px;
    position:relative;
}

/*When using the before and afterpsuedo element you have to have the content: '' */
/* Triangle - move the content box to the center by taking the width of the triangle (30px/2 = 15) -  50% (of overall width) with calc*/
.menu ul li:hover::after {
    content:'';
    position:absolute;
    bottom:0;
    height:30px;
    width:30px;
    left:calc(50% - 15px);
    border-bottom:30px solid #e7eff6;
    border-left:15px solid transparent;
    border-right:15px solid transparent;
}


.menu ul li a {
    color:#1d3549;
    text-decoration:none;
}

/*
  Create columns
  Of 100% divide by the number of columns 
    if 5 columns then each is 20% so,
    .col-1-5 {width:20%;}

    -- add padding to the parent its better
*/

.col {
    float: left;
    margin:10px 15px;
}

.col-1-3{
    width:30.33%;
}

.col-2-3 {
    width:63%;
}

.col-1-4 {
    width:22%;
}

.col-1-5 {
    width:17%;
}

.col-4-5 {
    width:77%;
}

.product {
    background-color: #fff;
    text-align: center;
    color: #000;
    border: 1px solid #4b86b4;
    padding: 10px;
    -moz-box-shadow: 0 0 6px #3f5e78;
    -webkit-box-shadow: 0 0 6px #3f5e78;
    box-shadow: 0 0 6px #3f5e78;
    position:relative;
    display:block;
}

    .product:hover {
        /*-moz-box-shadow: 0 3px 10px #1d3549;
        -webkit-box-shadow: 0 3px 10px #1d3549 ;
        box-shadow: 0 3px 10px #1d3549 ;*/
    }

    .product:hover .product-cart{
        display:inline;
    }

    .product-image {
        height:90%;
        width:70%;
    }

    .product-cart {
        display:none;
        position:absolute;
        top:50%;
        left:35%;
    }

#filterSection {
    background-color:#63ace5;
}

.filter {
    color:white;
}

.filter-header {
    background-color:#3f5e78;
}

.filter-title {
padding-left:25px;
margin:0;
padding-top:15px;
padding-bottom:15px;
border:2px solid #101e2a;
}

.filter-options  ul {
    list-style-type:none;
}

.filter-options  ul li {
    float:left;
    padding:3px 5px;
    width:75px;
}

.hidden {
    display:none;
}

.clearfix:before, .clearfix:after {
    clear:both;
    content:'';
    display:table;
}

/*vw - vieport width, vh - viewport height*/
.popup-wrapper {
    position:absolute;
    top:0;
    left:0;
    height:120%;
    width:100%;
    z-index:10000;
   display:none;
}

.popup-overlay {
    background-color:#000;
    opacity: 0.35;
    height:inherit;
    width:inherit;
}

.popup-maincontent {
position: fixed;
top: calc(50% - 250px); /*50% of the widow - half of the popup height*/
left: calc(50% - 150px);
height:500px;
width:300px;
background-color:#fff;
}

.popup-close{
    position:absolute;
    top:-36px;
    right:0;
    width:15%;
    height:10%;
    cursor:pointer;
}

.panel {
    list-style-type:none;
}

.panel li {
    display:inline-block;
    padding:10px;
}

.active a {
    text-decoration:none;
    color:#fff;
}

.active {
    background-color:#2a4d69;
}

.grey {
    background-color:grey;
}
.black {
    background-color:black;
}