@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/* Table of Content
==================================================
	#Generic Styles
	#Navigation
	#Typography
	#Home
	#Categories
	#Cart
	#Media Queries
*/

/* #Generic Styles
================================================== */

body {
    margin:0;
    background-color:#fff;
    color:#565a5c;
    font-size:16px;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
    max-width:1000px;
    margin: 0 auto;
    margin-bottom:75px;
}

.col {
    float:left;
}

.col-r {
    float:right;
}

.col-1-3 {
    width:30%;
    margin:1.5%;
}

.col-2-3 {
    width:66%;
}

.col-1-2 {
    width:50%;
}

.col-1-4 {
    width: 24%;
    margin: 0 .5%;
}

.col-1-5{
    width: 19%;
    margin:0 .5%;
}

.col-4-5 {
    width:79%;
    margin:0 .5%;
}

.clearfix:before, .clearfix:after {
    clear:both;
    content:'';
    display:table;
}

.hidden {
    display:none;
}

/* #Navigation
================================================== */
.header-wrapper {
    background-color: #fff;
    -moz-box-shadow: 0 5px 5px #565a5c;
    -webkit-box-shadow: 0 5px 5px #565a5c;
    box-shadow: 0 5px 5px #565a5c;
    /*fixed bg code*/
    position:fixed;
    z-index:2;
    width:100%;
    /*fixed bg code*/
}

    .header-wrapper header {
        margin:0 auto;
        width:65%;
        padding:15px 0;
    }
        .header-wrapper header img {
            margin-top:14px;
        }
        .header-wrapper header nav {
            padding:15px 0;
        }
        .header-wrapper header nav ul {
            margin:0;
        }
        .header-wrapper header nav  li{
            float:left;
            padding:5px;
            margin:0 10px;
            list-style-type:none;
        }
        .header-wrapper header nav  li a {
            text-decoration:none;
            color:#565a5c;
        }

.footer-wrapper{
    background:#333 url('../Images/pattern.png');
    padding:45px 0;
}   

    .footer-wrapper footer {
        margin:0 auto;
        width:65%;
    }
    .footer-wrapper footer ul {
        margin:0;
        padding:0;
    }
    .footer-wrapper footer li {
        color:#fff;
        list-style-type:none;
    }
    .footer-wrapper footer li a {
        color:#FFFB74;
        list-style-type:none;   
        text-decoration:none;
    }
    .footer-wrapper footer h5 {
        color:#fff;
    }



/* #Typography
Typography Color Palette (http://www.color-hex.com/color/e04f67)
================================================== */
h1,h2,h3,h4,h5, .banner span {text-transform:uppercase;}
h1 {font-size:3.8em; color:#fff; }
h2 {font-size:2.3em; color:#333; }
h3 {font-size:1.3em; color:#333; }
h4 {font-size:1.2em; color:#fff;}
h5 {font-size:1em; }
.pink {color:#e04f67;}

/* #Home Page
================================================== */
/*
    1. make image height:225px for all
*/

.banner-wrapper {
    background-color:#F3F3F3;
    padding-top:86px;
    /* regular padding-top:86px;*/
}

    .banner {
        background:#F3F3F3 url('../Images/heading1.jpg') no-repeat center 70%;
        background-size: 90% auto;
        height:400px;
        text-align:center;
        position:relative;
    }
    .banner h1 {
        margin:0 auto;
        padding-top:7%;
        color:#fff;
        text-shadow:0 2px 5px #333;
        position:absolute;
        top:5%;
        left:18%;
    }
    .banner span {
        color:#fff;
        font-weight:bold;
        text-shadow:0 2px 5px #333;
        position:absolute;
        top:45%;
        left:40%;
    }

    .dark-bg {
        position:absolute;
        top:0;
        left:0;
        background-color: rgba(0,0,0,.35);
        width:100%;
        height:100%;
        z-index:-0
    }

.home {
    text-align:center;
}

.featured {
    position:relative;
    height:270px;
}
    .featured img {
        width:100%;
        height:210px;
    }
    .feat-info {
        position:absolute;
        top: 165px;
        background-color:rgba(6,21,33, .65);
        padding:4px 10px;
        width:93.25%;
    }
    .featured span {
        font-size:1.5em;
        color:#fff;
    }
    .featured h3 {
        display:inline-block;
    }
    .featured header span {
        font-size:1.3em;
        margin-left:6px;
        color:#565a5c;
    }
    .feat-img {
        width:100%;
    }
    /*.feat-img >span {
        position:absolute;
        -ms-transform: rotate(-27deg); 
        -webkit-transform: rotate(-27deg); 
        transform: rotate(-27deg);
        background-color: green;
        color:#fff;
        font-size:.8em;
        font-weight:bold;
    }*/

.support {
    text-align:left;
    position:relative;
}
    .support figure{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100px;
        overflow:hidden;
    }
    .support img {
        width:95%;
        height:auto;
    }
    .support h4 {
        color:#333;
        margin:0;
    }
    .support figure {
        margin:0;
    }
    .support header {
        margin-top:100px;
    }

.discover > header {
    margin-bottom:50px;
}

    .discover header h2{
        margin-bottom:5px;
    }

/* #Category Page
================================================== */
/*
1. put box shadow aourn each actegoryx
2. add padding to icons in filterx
3. make filter for price a drop downx
4. add box shadow to button on hover statex
5. get markers to show up and pagination to show up 9make it a controller!
*/

.tour-detail {margin-top:35px;}

.pagination {margin-top:10px;}
.pagination a {font-size:1.1em; color:#0080FF; margin:0 3px;}

.tour-list.col-4-5 {
    width:76%;
    margin:0 .5%;
    margin-left:2%;
}

.left-menu {
    margin-top:17px;
}

article.map_tour_info {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

article.map_tour_info:hover {
        -moz-box-shadow: 0 1px 6px #333;
    -webkit-box-shadow:  0 1px 6px #333;
    box-shadow:  0 1px 6px #333;
}

#categories figure { height:200px; background-color:#ccc;}
#categories figure img {width:100%; height:200px; }

div.detail-info {padding-left:5%;}
div.detail-info.col-1-2 {width:44%;}
    div.detail-info h3 {font-size:1.1em; text-transform:uppercase; font-weight:400;}
    div.detail-info h3 strong {font-weight:700;}
    div.detail-info a {display:inline-block; width:40px;  padding:20px 1px; margin:0 5px; border:1px solid #ccc;}
    div.detail-info a span {display:none;}

    div.detail-info a.tour-map{background:url('/Images/map.gif') no-repeat center;}
    div.detail-info a.tour-clock{background:url('/Images/clock.gif') no-repeat center;}
    div.detail-info a.tour-speakr{background:url('/Images/speaker.gif') no-repeat center;}
    div.detail-info a.tour-pframe{background:url('/Images/pframe.gif') no-repeat center;}
    div.detail-info a.tour-train{background:url('/Images/train.gif') no-repeat center;}

div.detail-price{text-align:center;  margin-top:50px;}
    div.detail-price span {display:block;} 
    div.detail-price a {
    background-color:#0080FF; 
    padding:7px 15px; 
    color:#fff; 
    font-weight:bold;
    text-decoration:none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    }
    div.detail-price a:hover {
    -moz-box-shadow: 0 1px 6px #333;
    -webkit-box-shadow:  0 1px 6px #333;
    box-shadow:  0 1px 6px #333;
    }

.big-price {font-size:2em; font-weight:700; color:#e74c3c;}
/*.big-price::before{content: '\0024'; }*/

.small-price {font-size:1.2em; font-weight:400; color:#ccc; text-decoration:line-through;}
    .small-price::before{content: '\0024'; }
    .small-price + span {margin-bottom:20px;}

div#googleMap {width:100%; height:300px;}

div#bread-crumb {background-color:#333333; padding:7px 0; padding-left:50px;}
div#bread-crumb span {color:#fff;}

/*Filter s Aside*/

.top-side-menu ul {list-style:none; padding:0; margin:20px 0; }
.top-side-menu li:first-child {border-top:1px solid #ccc;}
.top-side-menu li {
border-left:1px solid #ccc;
border-right :1px solid #ccc;
border-bottom:1px solid #ccc;
padding:5px 10px;
}

div li.nav-all {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat;}
div li.nav-sight {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -50px;}
div li.nav-tour {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -100px ;}
div li.nav-build {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -150px;}
div li.nav-walk {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -200px;}
div li.nav-eat {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -250px;}
div li.nav-chur {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -300px;}
div li.nav-sky {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 0 -345px;}
div li.nav-shop {padding-left:40px; background:url('/Images/sidebar-icons.gif') no-repeat 2px -395px;}

div.star-filter label {display:block;}
div.filters {border:1px solid #ccc; padding:0 10px;}
div.filters div {border-bottom:1px solid #ccc; padding:25px 0;}
div.filters span { 
margin:10px 0; 
padding-left:40px; padding-bottom:10px;
background:url(../Images/cog.gif) no-repeat 10px 0 ;
border-bottom:1px solid #ccc; 
display:block;
}

div.side-support {border:1px solid #ccc; padding:10px; text-align:center; margin-top:15px;}
div.side-support img, div.side-support span {display:block;}
div.side-support img {width:60px; margin:0 auto;}
div.side-support .help {font-size:1.2em; color:#000; padding-bottom:10px;}
div.side-support .help span {display:inline-block;}
div.side-support .tel {font-size:1.5em; color:#05baf3; padding-bottom:15px;}

.top-side-menu li.highlight {background-color:#0080FF; color:#fff;}
.top-side-menu li {cursor:pointer;}
.top-side-menu li:hover {background-color:yellow;}


/* #Detail Page
================================================== */

.banner.detail {
    /*background:#F3F3F3 url('../Images/heading2.jpg') no-repeat center 70%;*/
    /*background:#F3F3F3 url('../Images/building3.jpg') no-repeat center 70%;*/
    background-color: #F3F3F3;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 20%;
    background-size: 100% auto;
    height:400px;
    text-align:center;
    position:relative;
}

.gallery {margin:20px 0;}
    .main-img {width:70%; display:block; margin-bottom:20px;}
    .thumbs {display:inline-block; width:100px; margin-right:10px;}
    .thumbs img {width:100%; margin:0 8px;}

.description {font-size:1.4em; color:#565a5c; margin-top:10px; display:inline-block;}

.details h3 {color:#565a5c;}
.details aside header {text-align:center;}
.details aside h4 {
    background-color: #e04f67;
    padding: 7px 0;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
    margin-top:2px;
}

.click-form { border: 1px solid #ccc; padding: 10px; font-size:1.2em;}
.clicker strong {display:block; font-size:.65em; margin:0; padding:0;}
.clicker a {text-decoration:none; color:#565a5c; margin:0; padding:0;}
.clicker span {padding:6px; margin:10px 0; display:inline-block; float:left;}
.clicker.col-1-2 {width:30%;}

.plus, .minus {
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
}

.minus{border-left:1px solid #ccc; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.plus{border-right:1px solid #ccc; border-top:1px solid #ccc; border-bottom:1px solid #ccc;}
.click-num {border-right:1px solid #ccc; border-top:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc;}

.click-row {padding:7px 0; border-bottom:1px solid #ccc;}
.display-clicks label {font-size:.85em; font-weight:bold; }
.total-cost {margin:10px 0; font-weight:bold; font-size:1.4em;}
.click-btn {padding:7px 10px; 
            color:#fff; 
            background-color:#85c99d; 
            text-decoration:none;
            margin:0 auto;
            display:inline-block;
            width:75%;
            text-align:center;
}


/* #Cart Page
================================================== */

.banner.cart {
    background:#F3F3F3 url('../Images/heading3.jpg') no-repeat center 70%;
    background-size: 100% auto;
    height:400px;
    text-align:center;
    position:relative;
}

.cart aside h4 {
    background-color: #e04f67;
    padding: 7px 0;
    -moz-border-radius: 4px 4px;
    -webkit-border-radius: 4px 4px;
    border-radius: 4px 4px;
    margin-top:2px;
}

.cart aside header {text-align:center;}

.table {margin-top:90px;}
    .table-head {background-color:#fff; padding:7px; border-bottom:1px solid #ccc; font-weight:bold; padding-bottom:10px;}
    .table-head span {display:inline-block;}
    .table-row {padding:10px; border-bottom:1px solid #ccc;}
    /*.table-data {width:25%; display:inline-block;}*/

.summary-img {width:55%;}
.icon-trash {width:47%;}

/* #Media Queries
================================================== */
@media screen and (max-width: 1074px) {
    /*Home*/	
    .banner h1 {
        left: 19%;
        font-size: 2.8em;
    }
}

@media screen and (max-width: 1031px) {
    .product-detail.col-2-3 {
        width:64%;
        padding: 0 1%;
    }
}

@media screen and (max-width: 805px) {
    /*Home*/	
    .featured.col-1-3 {
        width:45%;
        margin:0 2.5%;
    }

    .banner h1 {
        left: 19%;
        font-size: 2.4em;
    }

    .banner span {
        top: 35%;
        left: 35%;
    }

    .support.col-1-4 {
        width:45%;
        margin:0 2.5%;
        height:220px;
    }

    footer .col-1-3 {
       width:45%;
       margin:0 2.5%;
    }

    /*Category*/
    .category aside.col {
        float:none;
    }
    .category aside.col-1-5 {
        width:98%;
        margin:1%;
    }
        .category aside nav, .category .filters, .category .side-support{
            float:left;
            width:28%;
            margin: 0 1.5%;
        }
        .category aside nav ul {
            margin-top:0;
        }
    .tour-list.col {
        float:none;
    }
    .tour-list.col-4-5 {
        width:98%;
    }

    /*Detail*/
    .details aside.col-1-3 {
        width:98%;
    }
    .product-detail.col-2-3 {
        width:98%;
    }

    /*Cart*/
   .cart aside.col-1-3, .product-cart {
        width:98%;
    }
   
}

@media screen and (max-width: 663px) {
    /*Category*/
    .category aside nav, .category .filters {
        width:43%;
        margin:2.5%;
    }
    .category .side-support {
        width:90%;
        margin:0 auto;
    }

}

@media screen and (max-width: 640px) {
    /*Home*/	
    .header-wrapper header {
        width:100%;
    }
        .banner h1 {
            left: 10%;
            top: 19%;
        }
        .banner span {
            left: 25%;
            top: 55%;
        }
    .logo.col {
        float:none;
    }
    .menu {
        padding:0;
        text-align:center;
    }
    nav.col {
        float:none;
        width:100%;
    }
    .menu li {
        width:100%;
        border-bottom:1px solid #ccc;
    }
    .support.col-1-4 {
        height: 250px;
    }

    /*Category*/
    .category aside nav, .category .filters {
        width:94%;
        margin:2.5%;
    }

    div.detail-info.col-1-2 {
        width:70%;
    }
    .category figure.col-1-4{
        width:98%;
    }

}




@media screen and (max-width: 540px) {
    /*Cart*/
    .table .table-data.col-1-5 {
        width:32%;
    }
    .table .table-head span:nth-child(3),.table .table-head span:nth-child(2), .table div.table-data:nth-child(3), .table div.table-data:nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    /*Home*/	
    .featured.col-1-3 {
        width:95%;
        margin:0 2.5%;
    }
    .support.col-1-4 {
        width:95%;
        margin:0 2.5%;
        height:220px;
    }
    footer .col-1-3 {
       width:95%;
       margin:0 2.5%;
    }

 
}

@media screen and (max-width: 490px) {
    div.detail-price.col-1-4 {
        width:98%;
        margin-top:5px;
        margin-bottom:15px;
        border-top:1px solid #ccc;
    }
}